{% extends "basic_app/base.html" %}
{% block body_block %}




    {% if user.is_authenticated %}
        <div class="p-4 section-light bg-primary">
          <h2 class="mb-3 text-center text-secondary">
            <a>Hello {{ user.username }}!</a>
          </h2>
          <h3 class="mb-3 text-center text-secondary">
            <a> {{pic_count}} photos remaining</a>
          </h3>
          <h5 class="mb-3 text-center text-secondary">
            <a>{{top_up}}</a>
          </h5>
        <form enctype="multipart/form-data" method="POST" id="form">
          {% csrf_token %}

          <label for="id_profile_pic" class="btn mt-4 btn-block p-2 btn-secondary" id ="take_photo_btn">Take Photo</label>
          {{ profile_form.as_p }}
          <!-- <input type="submit" name="" value="Upload" class="btn btn-success"> -->
        </form>
      </div>
<!-- <p>
<button onclick="startWebcam();">Start WebCam</button>
<button onclick="stopWebcam();">Stop WebCam</button>
<button onclick="snapshot();">Take Snapshot</button>
</p>

<video onclick="snapshot(this);" width=0 height=0 id="video" controls autoplay></video>
<p> -->

<!-- Screenshots : <p> -->
  <!-- <canvas  id="myCanvas" width="400" height="600" ></canvas>
  <img id="canvasImg" alt="save" /> -->
    {% else %}
    <a href="{% url 'basic_app:register' %}" class="btn mt-4 btn-block p-2 btn-secondary">Subscribe</a>
    <h3 class="mb-3 text-center text-secondary">
    <a href="{% url 'basic_app:user_login' %}" class="mb-3 text-center text-secondary"> <i>Login</i></a>
  </h3>
    <!-- <button  class="btn mt-4 btn-block p-2 btn-secondary" href="{% url 'basic_app:register' %}">
      <b>Subscribe</b>
    </button> -->
    {% endif %}
  </div>
</div>


{% endblock %}
