{% extends "basic_app/base.html" %}
{% load staticfiles %}

{% block body_block %}

      {% if registered %}
      <div  class="p-4 section-light bg-primary">
        <h2 class="mb-3 text-center text-secondary">
          <a>Welcome to the club!</a>
        </h2>
        <a href="{% url 'basic_app:user_login' %}" class="btn mt-4 btn-block p-2 btn-secondary">
          <b>Start taking photos!</b>
        </a>
      </div>

      {% else %}
        <form  class="p-4 section-light bg-primary" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          <h4 class="mb-3 text-center text-secondary">
            <a>Join the Club!</a>
          </h4>


          {% if user_form.errors %}
    <div class="alert alert-error">
      <ul>
        {% for field in user_form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% if user_form.non_field_errors %}
        {{ user_form.non_field_errors }}
      {% endif %}
    </div>
  {% endif %}

          <div class="form-group">
            <label class="text-secondary">Username:</label>
            {{ user_form.username }}
          <div class="form-group">
            <label class="text-secondary">Email:</label>
            {{ user_form.email }}
          <div class="form-group">
            <label class="text-secondary text-left">Password:</label>
            {{ user_form.password }}
          <button type="submit" class="btn mt-4 btn-block p-2 btn-secondary">
            <b>Subscribe</b>
          </button>

          <h5 class="mb-3 text-center text-secondary">
          <a href="{% url 'basic_app:user_login' %}" class="mb-3 text-center text-secondary"> <i>Login</i></a>
          </h5>

        </form>

      {% endif %}

    </div>

  </div>

{% endblock %}
